<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>GAME OVER</title>
	<link rel="icon" href="../static/assets/icon.png" th:href="@{/assets/icon.png}"/>
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/styles.css}"  rel="stylesheet" />

	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"	rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Navigation -->
  	<div th:include="usuario/template_usuario.html::header-user" > </div>

<div class="container p-4">
		<h1 class="mt-4 mb-3">
        Spring eCommerce <small>Editar Perfil</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/usuario/perfil}">Perfil</a></li>
        <li class="breadcrumb-item active">Editar Perfil</li>
      </ol>


	<!--  <a th:href="@{/}"><img src="../static/assets/img/logo.png" th:src="@{/assets/img/logo.png}" class="w-25 d-block m-auto p-5" /></a>-->

	<div class="cositas bg-light p-4 border border-4">

		<h1 class="text-center">Modificar datos:</h1>

		<form th:action="@{/usuario/update}" th:object="${usuario}" method="post">

			<div class="p-4">
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{password}">
				<input type="hidden" th:field="*{enabled}" value="1">
				<input type="hidden" th:field="*{tipo}" value="USER">
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Username:</span>
					<input th:field="*{username}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Nombre:</span>
					<input th:field="*{nombre}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Apellidos:</span>
					<input th:field="*{apellidos}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Dirección:</span>
					<input th:field="*{direccion}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<!--  <div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">DNI:</span>
					<input th:field="*{dni}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>-->
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">Telefono:</span>
					<input th:field="*{telefono}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default">email:</span>
					<input th:field="*{email}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
				</div>
				<a type="button" class="btn mb-0 pt-4 m-auto d-block w-25">
					<input type="submit" class="form-control btn btn-dark btn-block d-block m-auto" value="Actualizar" />
				</a>
			</div>
		</form>
	</div>
</div>


	<footer class="footer py-4">
		<!-- Footer -->
		<div th:include="usuario/template_usuario.html::footer"></div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>