<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>RETRO HI-FI</title>


<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
</head>

<body>

	<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</span></a>
			<nav id="nav">
				<a sec:authorize="hasAnyAuthority('ROLE_USER')" class="search-container">
					<form th:action="@{#}" method="get">
						<input id="txtSearch" type="text" name="busqueda" placeholder="Buscar producto . . .">
						<button class="btnSearch" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</a>
				<a th:href="@{/usuario/home}" sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/usuario/home}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a th:href="@{/productos/audio}">Audio</a>
				<a th:href="@{/productos/video}">Video</a>
				<a th:href="@{/productos/segMano}">Segunda Mano</a>
				<a th:href="@{/usuario/login}" sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png"	th:src="@{/assets/img/entrar.png}" height="35em" />	</a>
				<!-- MENU USUARIO-->
				<div class="dropdown">
					<a href="#" role="button" aria-haspopup="true"
						aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img
						src="../static/assets/img/entrar.png"
						th:src="@{/assets/img/usuario.png}" height="35em" /></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a> <a
							th:href="@{/usuario/compras}">Compras</a> <a
							th:href="@{/getCart}">Carrito</a> <a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!-- MENU ADMINISTRADOR-->
				<div class="dropdown">
					<a href="#" role="button" aria-haspopup="true"
						aria-expanded="false"
						sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img
						src="../static/assets/img/entrar.png"
						th:src="@{/assets/img/admin.png}" height="35em" /></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a> <a
							th:href="@{/administrador/usuarios}">Usuarios</a> <a
							th:href="@{/administrador/ordenes}">Ordenes</a> <a
							th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner"
		style="background-image: url('../assets/img/sistema-de-casetes-audios-retros-cartel-retro-con-los-casetes-coloridos-ilustración-del-vector-54147634.jpg'); background-position: 0px 0px;">
		<div class="inner">
			<div id="blur">
				<h1 th:text="'Bienvenido a la sección de '+${nombreCat}"></h1>
				<br /> <br /> <br />
				
			</div>
			<div id="blur">
				
			</div>
		</div>
	</section>

	<!-- Page Content -->
	<div class="container">
		<div class="subtitle" th:if="!${notFound}">
			<h2>PRODUCTO DISPONIBLES. . .</h2>
		</div>
		<div class="noEncontrado" th:if="${notFound}">
			<img th:src="@{/assets/img/notFound.png}" alt="Producto no encontrado"/>
			<h3 th:text="${notFound}"></h3>			
		</div>

		<div class="row" id="showProductos">
			<div class="column" th:each="producto: ${productos}">
				<div class="card">
					<img class="imgProduct"
						th:src="@{../assets/{img} (img=${producto.imagen})} "
						alt="Producto" style="width: 100%">
					<h3 th:text="${producto.nombre}"></h3>
					<h3 th:text="${producto.precio}+' €'"></h3>
					<span class="bttn" th:classappend=" ${producto.cantidad == 0} ? 'disabled' : ' '  "> <a class=""
						th:href="@{/productohome/{id}  (id=${producto.id})  }"
						th:classappend=" ${session.idusuario == null} ? 'disabled' : ' '  ">Ver
							producto</a>
					</span>
					<div style="display:flex; justify-content:center;">
						<div th:if="${producto.cantidad == 0}" style="margin-top:1em; text-align: center; text-shadow: 2px 2px #D9D919;">
							<h3 style="color:#FF1CAE;"><i class="fas fa-ban">&nbsp;</i>SIN STOCK&nbsp;<i class="fas fa-ban"></i></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr style="height:2px; border-width:0; color: #e5474b; background-color:#e5474b">
		<!-- Paginación -->
		<div id="paginas" th:if="${productosPage != null}">
			<ul class="pagination">
				<!--<li class="icon">
					 <a><span th:text="'Total Productos: '+${totalProductos}"></span></a>
				</li>-->
				<!-- BOTON ANTERIOR -->
				<li class="icon">
				  <th:block th:if="${productosPage.hasPrevious()}">
						<a th:href="@{${#httpServletRequest.requestURI}(page=${productosPage.previousPageable().pageNumber})}"
							aria-label="Previous"> <span class="fas fa-angle-left"></span>Anterior
						</a>
					</th:block>
				</li>
				<!-- NUMERO PAGINAS -->
				<li th:each="i : ${#numbers.sequence(0, productosPage.totalPages - 1)}">
				<a th:href="@{${#httpServletRequest.requestURI}(page=${i})}"
					th:text="${i + 1}"
					th:classappend=" ${productosPage.number == i } ? 'active' : ' '  ">[[${i}]]</a>
				</li>
				<!-- BOTON SIGUIENTE -->
				<li class="icon">
				<th:block th:if="${productosPage.hasNext()}">
					<a th:href="@{${#httpServletRequest.requestURI}(page=${productosPage.nextPageable().pageNumber})}"
						aria-label="Next"><span class="fas fa-angle-right">&nbsp;</span>Siguiente
						</a>
				</th:block>
				</li>
			</ul>
		</div>

		<!-- /.container -->
	</div>


	<!-- /.row -->

	<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<h2>CONTACTO</h2>
			<ul class="actions">
				<li><span class='bx bxs-phone'></span> <a href="#">(000)
						000-0000</a></li>
				<li><span class='bx bxs-envelope'></span> <a href="#">info@retrohifi.es</a></li>
				<li><span class='bx bx-world'></span> C. Frederick Terman, 3,
					29590 Málaga</li>
			</ul>
		</div>
		<div class="copyright">
			RETRO HI-FI Diseñado y desarrollado por Francisco Alberto Bautista
			Somosierra 2ºDAW</a>.
		</div>
	</section>


	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>
	<!-- Swiper JS -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>

</html>
