<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RETRO HI-FI</title>


  <!-- Bootstrap core CSS -->
   <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous"> 

</head>

<body>

  <!-- Navigation 
   <div th:include="administrador/template_admin.html::header" ></div>-->

<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<nav id="nav">
				<a href="/">Home</a> <a th:href="@{/productos/audio}">Audio</a> <a
					th:href="@{/productos/video}">Video</a> <a
					th:href="@{/productos/segMano}">Segunda Mano</a> <a
					th:href="@{/usuario/login}"  sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/entrar.png}" height="40em"/></a>	
				<!-- MENU USUARIO--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/usuario.png}" height="45em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a>
						<a th:href="@{/usuario/compras}">Compras</a>
						<a th:href="@{/getCart}">Carrito</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!-- MENU ADMINISTRADOR--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/admin.png}" height="30em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a>
						<a th:href="@{/administrador/usuarios}">Usuarios</a>
						<a th:href="@{/administrador/ordenes}">Ordenes</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>				
			</nav>			
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3"> RETRO HI-FI <h3>Crear Producto</h3></h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
    <li class="breadcrumb-item"><a th:href="@{/productos}">Productos</a></li>
    <li class="breadcrumb-item active">Crear Productos</li>
  </ol>

  <h2>Crear Producto</h2>
  <form class="form-horizontal"  th:action="@{/productos/save}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" name="nombre"
        placeholder="Ingrese el nombre del producto" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="descripcion" name="descripcion"
        placeholder="Ingrese la descripcion del producto" required
        autocomplete="off"> </textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="cantidad">Cantidad:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="cantidad"
        name="cantidad" placeholder="Ingrese la cantidad del producto"
        required autocomplete="off">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="precio">Precio:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="any" id="precio" name="precio"
        placeholder="Ingrese el precio del producto" autocomplete="off" required>
      </div>
    </div>
    
   <div class="form-group">
		<label class="control-label col-sm-2" for="categoria">Categoría</label>
		<div class="col-sm-10">
				<select name="categoria" class="form-control"  required>
			    		<option value="1">Audio</option>
						<option value="2">Video</option>
						<option value="3">Segunda Mano</option>
			  	</select>
		</div>									
	</div>
    

    <div class="form-group">
      <label class="control-label col-sm-2" for="img">Imagen:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="img" name="img">
      </div>
    </div>
    
    <!--  <div class="form-group">
      <!-- <label class="control-label col-sm-2" for="img">Descatalogado:</label> 
      <div class="col-sm-10">
        <input type="hidden" class="form-control-file" id="enabled" name="enabled"  value="1" >
      </div>
    </div>-->

    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-saved"></span> Guardar
        </button>
      </div>
    </div>

  </form>

</div>
<!-- /.container -->

<!-- Footer -->
 <div th:include="administrador/template_admin.html::footer" ></div>

 <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>
</body>

</html>
