<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>RETRO HI-FI</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/tableResponsive.css}" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
</head>

<body>

	<!-- Navigation 
	<div th:switch="${session.idusuario}">
		<div th:include="administrador/template_admin.html::header" th:case ="${ 1 }" ></div>
		<div th:include="usuario/template_usuario.html::header"  th:case ="${ null}"></div>
		<div th:include="usuario/template_usuario.html::header-user"  th:case=" * " ></div>
	</div>-->
	<!--  <div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">	
	</div>-->
	
	<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<nav id="nav">
				<a th:href="@{/usuario/home}"  sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/usuario/home}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a th:href="@{/productos/audio}">Audio</a>
				<a th:href="@{/productos/video}">Video</a>
				<a th:href="@{/productos/segMano}">Segunda Mano</a>
				<a th:href="@{/usuario/login}"  sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/entrar.png}" height="35em"/></a>	
				<!-- MENU USUARIO--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/usuario.png}" height="35em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a>
						<a th:href="@{/usuario/compras}">Compras</a>
						<a th:href="@{/getCart}">Carrito</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!-- MENU ADMINISTRADOR--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/admin.png}" height="35em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a>
						<a th:href="@{/administrador/usuarios}">Usuarios</a>
						<a th:href="@{/administrador/ordenes}">Ordenes</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>				
			</nav>			
		</div>
	</header>
	<!-- Page Content -->
	<div class="container">
		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			RETRO HI-FI <h3>Carrito</h3>
		</h1>

		<ol class="breadcrumb my-4">
			<li class="breadcrumb-item"><a th:href="@{/usuario/home}">Home</a></li>
			<li class="breadcrumb-item active">Carrito</li>
		</ol>
		<input type="hidden" id="searchInput" placeholder="Filtrar por por..." />

		<!-- Blog Post -->
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-8">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Producto</th>
									<th scope="col">Precio</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Total</th>
									<th scope="col">Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dorden:${cart}">									
									<td title="Nombre" th:text="${dorden.nombre}"></td>
									<td title="Precio" th:text="${dorden.precio}"></td>
									<td title="Cantidad" th:text="${dorden.cantidad}"></td>
									<td title="Total" th:text="${dorden.total}"></td>
									<td title="Eliminar"><a th:href="@{/delete/cart/{id}   (id=${dorden.producto.id}) }" class="btn btn-danger">Quitar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--  <div class="col-lg-2"></div>-->

					<div class="col-lg-4">
						<h3 class="card-title">SUBTOTAL</h3>

						<ul class="list-group">
							<li class="list-group-item"><h3 th:text="${orden.total}"></h3></li>
							<a th:href="@{/order}" class="btn btn-dark my-3">Comprar</a>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer 
	<div th:include="usuario/template_usuario.html::footer"></div>-->
	
	<!-- Footer -->
	<section id="footer">
		<div class="inner">
					<h2>CONTACTO</h2>
					<ul class="actions">
						<li><span class='bx bxs-phone'></span> <a href="#">(000) 000-0000</a></li>
						<li><span class='bx bxs-envelope'></span> <a href="#">info@retrohifi.es</a></li>
						<li><span class='bx bx-world'></span> C. Frederick Terman, 3, 29590 Málaga</li>
					</ul>
				</div>
				<div class="copyright">
					RETRO HI-FI Diseñado y desarrollado por  Francisco Alberto Bautista Somosierra 2ºDAW</a>.
				</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
	<script src="/vendor/js/funciones.js"></script>
	
</body>

</html>
