<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RETRO HI-FI</title>


  <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/tableResponsive.css}" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

</head>

<body>

  <!-- Navigation
  <div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">	
	</div>
	
	<div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}"> </div>-->
	
	<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<nav id="nav">
				<a th:href="@{/usuario/home}"  sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/administrador}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a th:href="@{/productos/audio}">Audio</a>
				<a th:href="@{/productos/video}">Video</a>
				<a th:href="@{/productos/segMano}">Segunda Mano</a> <a th:href="@{/usuario/login}"  sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/entrar.png}" height="35em"/></a>	
				<!-- MENU USUARIO--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/usuario.png}" height="35em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a>
						<a th:href="@{/usuario/compras}">Compras</a>
						<a th:href="@{/getCart}">Carrito</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!-- MENU ADMINISTRADOR--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/admin.png}" height="35em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a>
						<a th:href="@{/administrador/usuarios}">Usuarios</a>
						<a th:href="@{/administrador/ordenes}">Ordenes</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>				
			</nav>			
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        RETRO HI-FI <h3> Tus Compras</h3>
      </h1>

      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a th:href="@{/usuario/home}">Home</a></li>
        <li class="breadcrumb-item active">Compras</li>
      </ol>
      <input type="hidden" id="searchInput" placeholder="Filtrar por por..." />

      <!-- Blog Post -->
       <div >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">No. de Orden</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Total</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="orden: ${ordenes}">
                  <td title="Nº Orden" th:text="${orden.numero}"></td>
                  <td title="Fecha creación" th:text="${orden.fechaCreacion}" ></td>
                  <td title="Total" th:text="${orden.total}" ></td>
                  <td title="Detalles"><a th:href="@{/usuario/detalle/{id} (id=${orden.id}) }" class="button">Ver Detalle</a></td>
                </tr>
              </tbody>
            </table>
          </div>
      <!--<div class="card mb-4">
        <div class="card-body">
          <div class="row">
          
        </div>
      </div>
    </div>-->
  </div>
  <!-- /.container -->

  <!-- Footer >
  <div th:include="usuario/template_usuario.html::footer"></div>--

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
	<script src="/vendor/js/funciones.js"></script>
	
</body>

</html>
