<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>RETRO HI-FI</title>


	<!-- Bootstrap core CSS 
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">-->

	<!-- Custom styles for this template -->
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

	<!-- Navigation -->
	<!--<div th:switch="${session.idusuario}">
		<div th:include="administrador/template_admin.html::header" th:case ="${ 1 }" ></div>
		<div th:include="usuario/template_usuario.html::header"  th:case ="${ null}"></div>
		<div th:include="usuario/template_usuario.html::header-user"  th:case=" * " ></div>
	</div>-->

	<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<!--<div class="search-container">
				<form th:action="@{/}" method="get">
					<input id="txtSearch" type="text" name="busqueda" placeholder="Buscar producto">
					<button class="btnSearch" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>-->
			<nav id="nav">
				<a class="search-container">
					<form th:action="@{#}" method="get">
						<input id="txtSearch" type="text" name="busqueda" placeholder="Buscar producto . . .">
						<button class="btnSearch" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</a>
				<a th:href="@{/usuario/home}" sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/usuario/home}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a th:href="@{/productos/audio}">Audio</a>
				<a th:href="@{/productos/video}">Video</a>
				<a th:href="@{/productos/segMano}">Segunda Mano</a>
				<a th:href="@{/usuario/login}" sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png"
						th:src="@{/assets/img/entrar.png}" height="35em" /></a>
				<!-- USER MENU -->
				<div class="dropdown">
					<a href="#" role="button" aria-haspopup="true" aria-expanded="false"
						sec:authorize="hasAnyAuthority('ROLE_USER')"><img src="../static/assets/img/entrar.png"
							th:src="@{/assets/img/usuario.png}" height="35em" /></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a> <a th:href="@{/usuario/compras}">Compras</a> <a
							th:href="@{/getCart}">Carrito</a> <a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!--  ADMIN MENU-->
				<div class="dropdown">
					<a href="#" role="button" aria-haspopup="true" aria-expanded="false"
						sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img src="../static/assets/img/entrar.png"
							th:src="@{/assets/img/admin.png}" height="35em" /></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a> <a th:href="@{/administrador/usuarios}">Usuarios</a> <a
							th:href="@{/administrador/ordenes}">Ordenes</a> <a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


	<!-- Page Content -->
	

	<!-- Banner -->
	<section id="banner" style="background-image: url('../assets/img/366965.jpg');">
		<div class="inner">
			<div id="blur">
				<div class="logoRetro">
					<img th:src="@{/assets/img/LOGO_2.svg}" alt="Logo" />
				</div>
			</div>
			<div id="blur">
				<h1>!!Bienvenido a RETRO HI-FI¡¡</h1>
			</div>			
		</div>

	</section>



	<div class="containerShop">
		<!-- Page Features-->
		<div class="subtitle" th:if="!${notFound}">
			<h2>PRODUCTO DISPONIBLES. . .</h2>
		</div >
		<div class="noEncontrado" th:if="${notFound}">
			<img th:src="@{/assets/img/notFound.png}" alt="Producto no encontrado"/>
			<h3 th:text="${notFound}"></h3>			
		</div>
		

		<div class="row" id="showProductos">
			<div class="column" th:each="producto: ${productos}">
				<div class="card">
					<img class="imgProduct" th:src="@{../assets/{img} (img=${producto.imagen})} " alt="Producto"
						style="width: 100%">
					<h2 class="pnombre" th:text="${producto.nombre}"></h2>
					<h3 th:text="${producto.precio}+' €'"></h3>
					<span class="bttn" th:classappend=" ${producto.cantidad == 0} ? 'disabled' : ' '  "> <a class=""
							th:href="@{/productohome/{id}  (id=${producto.id})  }"
							th:classappend=" ${session.idusuario == null} ? 'disabled' : ' '  ">Ver
							producto</a>
					</span>
					<div style="display:flex; justify-content:center;">
						<div th:if="${producto.cantidad == 0}"
							style="margin-top:1em; text-align: center; text-shadow: 2px 2px #D9D919;">
							<h3 style="color:#FF1CAE;"><i class="fas fa-ban">&nbsp;</i>SIN STOCK&nbsp;<i
									class="fas fa-ban"></i></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<hr style="width: 100%; height:2px; border-width:0; color: #9d5353; background-color:#9d5353">

		<!-- Paginación -->
		<div id="paginas" th:if="!${notFound}">
			<ul class="pagination">
				<!--<li class="icon">
					 <a><span th:text="'Total Productos: '+${totalProductos}"></span></a>
				</li>-->
				<li class="icon">
					<a th:if="${currentPage > 0}"
						th:href="@{/usuario/home(busqueda=${busqueda}, page=${currentPage - 1}, pageSize=${pageSize})}"
						aria-label="Previous"> <span class="fas fa-angle-left"></span>Anterior</a>
				</li>
				<li th:each="page : ${#numbers.sequence(0, totalPages - 1)}"><a
						th:href="@{/usuario/home(busqueda=${busqueda}, page=${page}, pageSize=${pageSize})}"
						th:text="${page + 1}" th:classappend=" ${currentPage == page } ? 'active' : ' '  ">[[${i}]]</a>
				</li>
				<li class="icon"><a th:if="${currentPage < totalPages - 1}"
						th:href="@{/usuario/home(busqueda=${busqueda}, page=${currentPage + 1}, pageSize=${pageSize})}"
						aria-label="Next"><span class="fas fa-angle-right">&nbsp;</span>Siguiente</a>
				</li>
			</ul>
		</div>
	</div>



	<!-- /.container -->
	
	<section id="footer">
		<div class="inner">
			<h2>CONTACTO</h2>
			<ul class="actions">
				<li><span class='bx bxs-phone'></span> <a href="#">(000)
						000-0000</a></li>
				<li><span class='bx bxs-envelope'></span> <a href="#">info@retrohifi.es</a></li>
				<li><span class='bx bx-world'></span> C. Frederick Terman, 3,
					29590 Málaga</li>
			</ul>
		</div>
		<div class="copyright">
			RETRO HI-FI Diseñado y desarrollado por Francisco Alberto Bautista
			Somosierra 2ºDAW</a>.
		</div>
	</section>



	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>


	<!--  <script th:src="/webjars/jquery/jquery.min.js"></script>
	<script th:src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>-->
</body>

</html>