<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring eCommerce</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" 	rel="stylesheet">
	<!--  <link th:href="/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">-->

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}"  rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:switch="${session.idusuario}">
		<div th:include="administrador/template_admin.html::header" th:case ="${ 1 }" ></div>
		<div th:include="usuario/template_usuario.html::header"  th:case ="${ null}"></div>
		<div th:include="usuario/template_usuario.html::header-user"  th:case=" * " ></div>
	</div>
	<!--  <div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">	
	</div>
	
	<div th:include="usuario/template_usuario.html::header-user"  th:unless="${sesion==null}"> </div>-->

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron jumbotron-fluid my-4">
			<h1 class="display-3">Bienvenido a RETRO HI-FI</h1>
			<p class="lead">Para amantes de lo analógico</p>
		</header>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
				<div class="card h-100">
					<img class="card-img-top"
						th:src="@{../assets/{img} (img=${producto.imagen})} "  alt="">
					<div class="card-body">
						<p class="card-text" th:text="${producto.nombre}"></p>
					</div>
					<div class="card-footer">
						<a th:href="@{/productohome/{id}  (id=${producto.id})  }" class="btn btn-success"  th:classappend=" ${session.idusuario == null} ? 'disabled btn-danger' : ' '  ">Ver
							producto</a>
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->
		
		<!-- Paginación -->
				<div class="ms-3">
					<div class = "row col-sm-12 justify-content-center align-items-center">
						<hr class="border border-1 opacity-100">
						<div class = "col-sm-3">
							Total Productos: <a th:text="${totalProductos}"></a>
						</div>
						<div class = "col-sm-3">
							<p th:if = "${totalPages > 1}">
								<a th:each="page : ${#numbers.sequence(0, totalPages - 1)}" th:href="@{/usuario/home(busqueda=${busqueda}, page=${page}, pageSize=${pageSize})}"
								   th:text="${page + 1}" class="ms-2"></a>
								<span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp;</p>
						</div>

						<div class = "col-sm-2" >
							<a th:if="${currentPage > 0}" th:href="@{/usuario/home(busqueda=${busqueda}, page=${currentPage - 1}, pageSize=${pageSize})}"
							   aria-label="Previous" class="mx-4 fs-5 fw-bold text-decoration-none">Anterior
							</a>
						</div>

						<div class="col-sm-2">
							<a th:if="${currentPage < totalPages - 1}" th:href="@{/usuario/home(busqueda=${busqueda}, page=${currentPage + 1}, pageSize=${pageSize})}"
							   aria-label="Next" class="mx-4 fs-5 fw-bold text-decoration-none"> Siguiente
							</a>
						</div>
						<p></p><hr class="border border-1 opacity-100">
					</div>
				</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="footer py-4">
		<div th:include="usuario/template_usuario.html::footer"></div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!--  <script th:src="/webjars/jquery/jquery.min.js"></script>
	<script th:src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
