<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>RETRO HI-FI</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
</head>
<body>
	<!-- NAV -->
	<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<nav id="nav">
				<a th:href="@{/usuario/home}"  sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/administrador}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a href="#one">Sobre nosotros</a>
				<a href="#two">Productos</a> <a href="#footer">Contacto</a>
				<a th:href="@{/usuario/home}">Tienda</a>
				<a th:href="@{/usuario/registro}" sec:authorize="isAnonymous()"><img id="register" src="../static/assets/img/sign-in.png" th:src="@{/assets/img/sign-in.png}" height="40em"/></a>
				<a class="navbar-brand" th:href="@{/usuario/cerrar}"  sec:authorize="isAuthenticated()"><img src="../static/assets/img/salir.png"  th:src="@{/assets/img/salir.png}" height="40em"/></a>
				<a th:href="@{/usuario/login}" sec:authorize="isAnonymous()"><img id="login" src="../static/assets/img/login.png" th:src="@{/assets/img/login.png}" height="40em"/></a>
			</nav>
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<!--<section id="bannerLogo">
				<div class="logoRetro"><img th:src="@{/assets/img/LOGO_2.svg}" alt="Logo"/></div>				
			</section>-->

	<!-- Banner -->
	<section id="banner">
		<div class="inner">.
		<div id="blur">
				<div class="logoRetro">
					<img th:src="@{/assets/img/LOGO_2.svg}" alt="Logo" />
				</div>
		</div>
			<div id="blur">
				<h1>La tienda para los amantes del audio-visual que no atienden a modas.</h1>			
			
			<ul class="actions">
				<li><a href="#two" class="button alt">Que ofrecemos</a></li>
			</ul>
			</div>
		</div>
	</section>

	<!-- One -->
	<section id="one">
		<div class="inner">
			<header>
				<h2>Amor por lo analógico</h2>
			</header>
			<p>Nuestra fijación nace de la necesidad de cubrir las
				necesidades de todo aquel amante y usuario de los sistemas
				analógicos de reproducción de audio y video. Conscientes de que
				existe todavía ahora un gran número de clientes que desean disfrutar
				y volver a usar sus antiguos dispositivos y soportes analógicos que
				construidos en otra época cuando el "usar y tirar" no era el motor
				del desarrollo, aun en la actualidad ofrecen una experiencia de
				usuario satisfactoria y en algunos casos superior a la de los
				actuales equipos.</p>
			<p>No nos olvidamos de su valor estético y de sus buenos acabados
				pues aun sin poder cumplir la función inicial si que son muy
				demandados como elementos decorativos.</p>
			<ul class="actions">
				<li><a th:href="@{/usuario/home}" class="button alt">Tienda</a></li>
			</ul>
		</div>
	</section>

	<!-- Two -->
	<section id="two">
		<div class="inner">
			<article>
				<div class="content">
					<header>
						<h3>AUDIO</h3>
					</header>
					<div class="image fit">
						<img th:src="@{/assets/Ampli_.jpg}" alt="Equipo audio" />
					</div>
					<p>Nos preocupamos en ofrecer equipos de audio, de gran calidad-precio. Buscando el sonido de los equipos de 
					válvulas con un aspecto y acabado de calidad. También ofrecemos otros 
					equipos adaptados a las nuevas tecnologías, pero con un diseño vintage. </p>
				</div>
			</article>
			<article class="alt">
				<div class="content">
					<header>
						<h3>VIDEO</h3>
					</header>
					<div class="image fit">
						<img th:src="@{/assets/510246718_o.jpg}" alt="Equipo de video" />
					</div>
					<p>Para todo aquel que quiere rescatar y disfrutar de sus recuerdos familiares,
					Películas grabadas y otros programas guardados en antiguos formatos magnéticos (VHS o Beta).
					Disponemos de equipos restaurados y en buenas condiciones para poder disfrutar de 
					sus recuerdos.</p>
				</div>
			</article>
			<article class="alt">
				<div class="content">
					<header>
						<h3>SEGUNDA MANO</h3>
					</header>
					<div class="image fit">
						<img th:src="@{/assets/tvRetro.jpg}" alt="" />
					</div>
					<p>Para todo aquel que busque un toque decorativo especial y valore los acabados de los 
					electrodomésticos de antaño, disponemos de equipos a la venta en buenas condiciones exteriores
					que aunque no funcionan si puede se usados como elemento decorativo en salones y dormitorios.</p>
				</div>
			</article>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer">
		<div class="inner">
					<h2>CONTACTO</h2>
					<ul class="actions">
						<li><span class='bx bxs-phone'></span> <a href="#">(000) 000-0000</a></li>
						<li><span class='bx bxs-envelope'></span> <a href="#">info@retrohifi.es</a></li>
						<li><span class='bx bx-world'></span><a href="#">C. Frederick Terman, 3, 29590 Málaga</a></li>
					</ul>
				</div>
				<div class="copyright">
					RETRO HI-FI Diseñado y desarrollado por  Francisco Alberto Bautista Somosierra 2ºDAW</a>.
				</div>
	</section>

	<!-- Scripts -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/js/skel.min.js}"></script>
	<script th:src="@{vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>
</body>
</html>
