<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" th:href="@{/css/styleLogin.css}">

</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<a th:href="@{/}"><img th:src="@{/assets/img/LOGO_2.svg}" alt="Logo" width="300px"
						height="300px"></a>
					<!--<h2 class="heading-section">Login #08</h2>-->
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-headphones"></span>
						</div>
						<h3 class="text-center mb-4">¿Tiene una cuenta?</h3>
						
						<form th:action="@{/usuario/login}" method="post" class="login-form">
						<!--Mensajes de error-->
							<div
								class="alert alert-danger mb-4 w-100 d-block my-3 text-center"
								th:if="${param.error}"
								th:with="errorMsg=${session[SPRING_SECURITY_LAST_EXCEPTION].message}">
								Su intento de logearse ha fallado.<br /> Razón: <span
									th:text="${errorMsg}">Email o contraseña erroneo.</span>
							</div>
							<!--Mensajes de logout-->
							<div th:if="${param.logout}">
								<div
									class="alert alert-info mb-6 w-100 d-block my-3 text-center">Ha
									cerrado sesión exitosamente</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control rounded-left"
									placeholder="Username" name="username" required>
							</div>
							<div class="form-group d-flex">
								<input type="password" class="form-control rounded-left"
									placeholder="Password" name="password" required>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<!--  <label class="checkbox-wrap checkbox-primary">Remember
										Me <input type="checkbox" checked> <span
										class="checkmark"></span>
									</label>-->
								</div>
								<div class="w-50 text-md-right">
									<!--  <a href="#">Forgot Password</a>-->
									<a th:href="@{/usuario/registro}" class="card-link"> Regístrese aquí</a>
								</div>
							</div>
							<div class="form-group">
								<button type="submit"
									class="btn btn-primary rounded submit p-3 px-5">Ingresar</button>
							</div>
						</form>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/js/mainLogin.js}"></script>

</body>
</html>