<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>RETRO HI-FI</title>

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/styleReg.css}" />
<!-- <link rel="stylesheet" th:href="@{/css/main.css}" /> -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>

</head>

<body>

	<!-- Navigation -->
	<!--<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<!--  <nav id="nav">
				<a th:href="@{/usuario/home}"  sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/administrador}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a th:href="@{/productos/audio}">Audio</a>
				<a  th:href="@{/productos/video}">Video</a>
				<a th:href="@{/productos/segMano}">Segunda Mano</a>
				<a th:href="@{/usuario/login}"  sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/entrar.png}" height="40em"/></a>	
				<!-- USER MENU 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/usuario.png}" height="45em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a>
						<a th:href="@{/usuario/compras}">Compras</a>
						<a th:href="@{/getCart}">Carrito</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>-->
	<!--  ADMIN MENU
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/admin.png}" height="30em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a>
						<a th:href="@{/administrador/usuarios}">Usuarios</a>
						<a th:href="@{/administrador/ordenes}">Ordenes</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>				
			</nav>			
		</div>-->
	</header>


	<!-- Page Content -->
	<div class="container">
		<div class="title">Registro</div>
		<div class="alert success" th:if="${param['success']}">
			<span class="closebtn" th:onclick="cerrar()">&times;</span> <strong>Felicidades!</strong>
			Se ha registrado satisfactoriamente.
		</div>
		<div class="alert warning" th:if="${param['fail']}">
			<span class="closebtn" th:onclick="cerrar()">&times;</span> <strong>Error!</strong>
			Error al registrarse, revise la información  introducida.
		</div>
		<div class="content">
			<form th:action="@{/usuario/save}" method="post">
				<div class="user-details">
					<div class="input-box">
						<span class="details">Username</span> <input type="text"
							placeholder="Introduzca su nombre de usuario" name="username"
							required>
					</div>
					<div class="input-box">
						<span class="details">Password</span> <input type="password"
							placeholder="Introduzca su password" name="password" required>
					</div>
					<div class="input-box">
						<span class="details">Nombre</span> <input type="text"
							placeholder="Introduzca su nombre" name="nombre" required>
					</div>
					<div class="input-box">
						<span class="details">Apellidos</span> <input type="text"
							placeholder="Introduzca sus apellidos" name="apellidos" required>
					</div>
					<div class="input-box">
						<span class="details">Email</span> <input type="email"
							placeholder="Introduzca su email" name="email" required>
					</div>
					<div class="input-box">
						<span class="details">Teléfono</span> <input type="text"
							placeholder="Introduzca su telefono" name="telefono" required>
					</div>
					<div class="input-box">
						<span class="details">Direccion</span> <input type="text"
							placeholder="Introduzca su dirección" name="direccion" required>
					</div>
					<div class="input-box">
						<input type="hidden" name="enabled" value="1" required>
					</div>
				</div>
				<div class="button">
					<input type="submit" value="Registrarse">
				</div>
			</form>
			<form th:action="@{/}">
				<div class="button">
					<input type="submit" value="VOLVER" />
				</div>
			</form>


		</div>
	</div>

	<!-- Scripts -->
	<script src="/vendor/jquery/funciones.js"></script>


</body>

</html>
