 /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: white;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button 
input[type=submit] {
  margin-left:10px;	
  width: 80%;
  background-color: #5a5a5a;
  color: #e5474b;
  padding: 2px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}*/

#actualizar {
  background-color: #5a5a5a;
  color: #e5474b;	
  border: none;
  border-radius: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 0.8em;
  margin-top: 2em;
  text-decoration: none;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top:3em;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} 

 /* Style the list */
ul.breadcrumb {
  padding: 10px 8px;
  list-style: none;
  background-color: #e8ecef;
  border: none;
  border-radius: 15px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0  ";
  display: inline;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #e5474b;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
} 

/*body*/

body {
  padding-top: 56px;
}
