<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>RETRO HI-FI</title>


<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

</head>

<body>

	<!-- Navigation 
	<div th:include="administrador/template_admin.html::header"></div>-->
	<header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<nav id="nav">
				<a href="/">Home</a> <a th:href="@{/productos/audio}">Audio</a> <a
					th:href="@{/productos/video}">Video</a> <a
					th:href="@{/productos/segMano}">Segunda Mano</a> <a
					th:href="@{/usuario/login}"  sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/entrar.png}" height="45em"/></a>	
				<!-- MENU USUARIO--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/usuario.png}" height="45em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a>
						<a th:href="@{/usuario/compras}">Compras</a>
						<a th:href="@{/getCart}">Carrito</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!-- MENU ADMINISTRADOR--> 
				<div class="dropdown">
					<a  href="#" role="button" aria-haspopup="true" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <img src="../static/assets/img/entrar.png" th:src="@{/assets/img/admin.png}" height="30em"/> </a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a>
						<a th:href="@{/administrador/usuarios}">Usuarios</a>
						<a th:href="@{/administrador/ordenes}">Ordenes</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>				
			</nav>			
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4">
			<h1 class="display-3">Home administración</h1>			
		</header>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4"  th:each="producto: ${productos}">
				<div class="card h-100">
					<!--  <img class="card-img-top"
						th:src="${producto.imagen}" alt="">-->
					<img class="card-img-top"
						th:src="@{../assets/{img} (img=${producto.imagen})} " alt="">	
					<div class="card-body">
						<p class="card-text" th:text="${producto.nombre}"></p>
					</div>
					<div class="card-footer">
						<a th:href="@{/productohome/{id}  (id=${producto.id}) }" class="btn btn-success">Ver
							producto</a>
					</div>
				</div>
			</div>


		</div>
		<!-- /.row -->
		
		<!-- Paginación -->
				<div class="ms-3">
					<div class = "row col-sm-12 justify-content-center align-items-center">
						<hr class="border border-1 opacity-100">
						<div class = "col-sm-3">
							Total Productos: <a th:text="${totalProductos}"></a>
						</div>
						<div class = "col-sm-3">
							<p th:if = "${totalPages > 1}">
								<a th:each="page : ${#numbers.sequence(0, totalPages - 1)}" th:href="@{/administrador(busqueda=${busqueda}, page=${page}, pageSize=${pageSize})}"
								   th:text="${page + 1}" class="ms-2"></a>
								<span th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp;</p>
						</div>

						<div class = "col-sm-2" >
							<a th:if="${currentPage > 0}" th:href="@{/administrador(busqueda=${busqueda}, page=${currentPage - 1}, pageSize=${pageSize})}"
							   aria-label="Previous" class="mx-4 fs-5 fw-bold text-decoration-none">Anterior
							</a>
						</div>

						<div class="col-sm-2">
							<a th:if="${currentPage < totalPages - 1}" th:href="@{/administrador(busqueda=${busqueda}, page=${currentPage + 1}, pageSize=${pageSize})}"
							   aria-label="Next" class="mx-4 fs-5 fw-bold text-decoration-none"> Siguiente
							</a>
						</div>
						<p></p><hr class="border border-1 opacity-100">
					</div>
				</div>
		
		
		
		
		

	</div>
	<!-- /.container -->
	<!-- Footer  -->
	<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>
	
</body>

</html>
