<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RETRO HI-FI</title>


  <!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/tableResponsive.css}"/>
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
</head>


<body>

  <!-- Navigation 
  <div th:include="administrador/template_admin.html::header"></div>-->
  <header id="header">
		<div class="inner">
			<a href="/" class="logo">RETRO HI-FI</a>
			<nav id="nav">
				<a th:href="@{/usuario/home}"  sec:authorize="hasAnyAuthority('ROLE_USER')">Home</a>
				<a th:href="@{/administrador}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">Home</a>
				<a th:href="@{/productos/audio}">Audio</a>
				<a th:href="@{/productos/video}">Video</a>
				<a th:href="@{/productos/segMano}">Segunda Mano</a>
				<a th:href="@{/usuario/login}" sec:authorize="isAnonymous()"><img src="../static/assets/img/entrar.png" 	th:src="@{/assets/img/entrar.png}" height="35em" /></a>
				<!-- MENU USUARIO-->
				<div class="dropdown">
					<a href="#" role="button" aria-haspopup="true"
						aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_USER')"><img 	src="../static/assets/img/entrar.png" th:src="@{/assets/img/usuario.png}" height="35em" /></a>
					<div class="dropdown-content">
						<a th:href="@{/usuario/perfil}">Perfil</a>
						<a th:href="@{/usuario/compras}">Compras</a>
						<a th:href="@{/getCart}">Carrito</a> <a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
				<!-- MENU ADMINISTRADOR-->
				<div class="dropdown">
					<a href="#" role="button" aria-haspopup="true"
						aria-expanded="false"
						sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><img src="../static/assets/img/entrar.png" th:src="@{/assets/img/admin.png}" height="35em"/></a>
					<div class="dropdown-content">
						<a th:href="@{/productos}">Productos</a>
						<a th:href="@{/administrador/usuarios}">Usuarios</a>
						<a th:href="@{/administrador/ordenes}">Ordenes</a>
						<a th:href="@{/usuario/cerrar}">Salir</a>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
	<section id="banner" style="background-image : url('../assets/img/infographic7.jpg');">
		<div class="inner">
			<div id="blur">
				<h1> ADMINISTRACION</h1>
				<h3>Listado de Usuarios</h3>
			</div>
		</div>
	</section>



<!-- Page Content -->
<div class="container">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a th:href="@{/usuario/home}">Home</a></li>
    <li class="breadcrumb-item active">Ver Usuarios</li>
  </ol>
  
  
  
  <h2>Usuarios</h2>
  <!-- Filtro -->
  <div class="row py-3">
			<div class="col-sm-3">
				<input type="text" id="searchInput" placeholder="Filtrar por por..." />
			</div>
			<div class="col-sm-9">
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="0" id="check1" name="filtro" checked>Username
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="1" id="check2" name="filtro" >Nombre
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="2" id="check3" name="filtro">Apellidos
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="3" id="check4" name="filtro">Email
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="4" id="check5" name="filtro">Dirección
					</label>
				</div>
				<div class="form-check-inline">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" value="5" id="check6" name="filtro">Teléfono
					</label>
				</div>
			</div>
	</div>
	<!-- /Filtro -->
	  <table>
	    <thead class="table-info">
	      <tr>
	      	<th scope="col" class="text-center">Username</th>
	        <th scope="col" class="text-center">Nombre</th>
	        <th scope="col" class="text-center">Apellidos</th>
	        <th scope="col" class="text-center">Email</th>
	        <th scope="col" class="text-center">Dirección</th>
	         <th scope="col" class="text-center">Telefono</th>
	         <!-- <th class="text-center" scope="col" class="text-center">Estado</th>-->
	         <th scope="col" class="text-center">Acción</th>
	      </tr>
	    </thead>
	    <tbody id="names">
	      <tr th:each="usuario:${usuarios}">
	       <td title="Username" th:text="${usuario.username}"></td>
	        <td title="Nombre" th:text="${usuario.nombre}"></td>
	        <td title="Apellidos" th:text="${usuario.apellidos}"></td>
	        <td title="Email" class="text-center" th:text="${usuario.email}"></td>
	        <td title="Direccion" th:text="${usuario.direccion}"></td>
	        <td title="Telefono" class="text-center" th:text="${usuario.telefono}"></td>
	        <!-- <td th:text="${usuario.enabled}"></td> -->
	        <td title="Deshabilitar" class="text-center"><a th:if="${usuario.username}!='admin'" class="btn" th:classappend=" ${usuario.enabled == false} ? 'btn-success' : 'btn-danger '  "  th:onclick="deshabilitarUser([[${usuario.id}]], [[${usuario.enabled}]])"><span th:text="${usuario.enabled == false} ? 'Habilitar': 'Deshabilitar'"></span></a> </td>
	      </tr>       
	    </tbody>
	  </table>
</div>
<!-- /.container -->

<!-- Footer 
<div th:include="administrador/template_admin.html::footer"></div>-->

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	<!-- Scripts -->
	<script th:src="@{/vendor/js/skel.min.js}"></script>
	<script th:src="@{/vendor/js/util.js}"></script>
	<script th:src="@{/vendor/js/main.js}"></script>	
	<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/vendor/js/funciones.js"></script>
</body>

</html>
